:root {
	--black-hsl: 0, 0%, 0%;
	--dark-gray1-hsl: 0, 0%, 7%;
	--dark-gray2-hsl: 0, 0%, 10%;
	--dark-gray3-hsl: 0, 0%, 12%;
	--dark-gray4-hsl: 0, 0%, 16%;
	--dark-gray5-hsl: 0, 0%, 22%;
	--gray1-hsl: 0, 0%, 31%;
	--gray2-hsl: 0, 0%, 38%;
	--gray3-hsl: 0, 0%, 46%;
	--gray4-hsl: 0, 0%, 54%;
	--gray5-hsl: 0, 0%, 62%;
	--light-gray1-hsl: 0, 0%, 69%;
	--light-gray2-hsl: 0, 0%, 79%;
	--light-gray3-hsl: 0, 0%, 87%;
	--light-gray4-hsl: 0, 0%, 93%;
	--light-gray5-hsl: 0, 0%, 97%;
	--white-hsl: 0, 0%, 100%;
	--pt-app-top-background-color: var(--white);
	--pt-app-background-color: var(--white);
	--Background1: var(--pt-app-top-background-color);
	--Background2: var(--pt-app-background-color);
	--Background3: var(--light-gray4);
	--Background3b: hsla(var(--black-hsl), 0.03);
	--TextHeading: var(--pt-heading-color);
	--TextBody: var(--pt-text-color);
	--TextMuted: var(--pt-text-color-muted);
	--TextDisabled: var(--pt-text-color-disabled);
	--TextLink: var(--pt-link-color);
	--TextIcon: var(--pt-icon-color);
	--OnIntent: var(--white);
	--TextIntentPrimary: var(--pt-intent-primary-text-color);
	--TextIntentSuccess: var(--pt-intent-success-text-color);
	--TextIntentWarning: var(--pt-intent-warning-text-color);
	--TextIntentDanger: var(--pt-intent-danger-text-color);
	--BorderEmphasis: var(--light-gray1);
	--BorderNormal: var(--pt-divider-black);
	--BorderMuted: var(--light-gray5);
	--BorderInvert: var(--light-gray3);
	--ShadowGradient: hsla(var(--black-hsl), 0.05), hsla(var(--black-hsl), 0);
	--PresentBgTimeline: var(--gray2);
	--PastBgTimeline: var(--light-gray2);
	--FutureBgTimeline: var(--light-gray4);
	--SelectedBgTimeline: var(--primary3);
	--PreviewBgTimeline: hsla(var(--black-hsl), 0.1);
	--PresentFgColor: var(--gray5);
	--PresentBgColor: var(--white);
	--PastFgColor: var(--light-gray2);
	--PastBgColor: var(--light-gray4);
	--SelectedFgColor: var(--gray2);
	--PreviewFgColor: var(--dark-gray5);
	--SelectedFocusFgColor: var(--primary4);
	--SelectedFocusBgColor: var(--primary5);
	--GroupNodeStrokeColor: hsla(var(--black-hsl), 0.03);
	--TextOutlineColor: hsla(var(--white-hsl), 0.8);
}

.bp5-dark {
	--pt-app-top-background-color: var(--dark-gray3);
	--pt-app-background-color: var(--dark-gray3);
	--Background1: var(--pt-app-top-background-color);
	--Background2: var(--pt-app-background-color);
	--Background3: var(--dark-gray1);
	--Background3b: hsla(var(--black-hsl), 0.1);
	--OnIntent: var(--white);
	--BorderEmphasis: var(--black);
	--BorderNormal: var(--pt-divider-black);
	--BorderMuted: var(--dark-gray2);
	--BorderInvert: var(--gray1);
	--ShadowGradient: hsla(var(--black-hsl), 0.2), hsla(var(--black-hsl), 0);
	--PresentBgTimeline: var(--gray2);
	--PastBgTimeline: var(--dark-gray5);
	--FutureBgTimeline: var(--black);
	--SelectedBgTimeline: var(--primary3);
	--PreviewBgTimeline: hsla(var(--white-hsl), 0.05);
	--PresentFgColor: var(--gray2);
	--PresentBgColor: var(--dark-gray3);
	--PastFgColor: var(--dark-gray5);
	--PastBgColor: var(--dark-gray2);
	--SelectedFgColor: var(--light-gray1);
	--PreviewFgColor: var(--white);
	--SelectedFocusFgColor: var(--primary3);
	--SelectedFocusBgColor: var(--primary1);
	--GroupNodeStrokeColor: hsla(var(--white-hsl), 0.03);
	--TextOutlineColor: hsla(var(--black-hsl), 0.8);
}
